<b>1. Import libraries</b>

In [1]:
from pytrends.request import TrendReq
import pandas as pd

<b>2. Initialize</b>

In [2]:
pytrends = TrendReq()

<b>3. General settings</b>

In [3]:
keywords = ['gaun']
cat = '0'
geo = 'ID'
gprop = 'youtube'

timeframes = [
    'today 5-y',
    'today 12-m',
    'today 3-m', 
    'today 1-m',
    'now 1-d',
    'now 7-d',
    'now 1-H',
    'now 4-H'
]

In [4]:
pytrends.build_payload(keywords, geo=geo, gprop=gprop, timeframe=timeframes[4])

<b>4. Timeseries trends data</b>

In [5]:
timeseries = pytrends.interest_over_time()
timeseries.reset_index(inplace=True)
timeseries.rename(columns={'date':'datetime', keywords[0]: 'value', 'isPartial':'partial'}, inplace=True)
timeseries.head(10)

             datetime  value  partial
0 2022-03-01 14:08:00     23    False
1 2022-03-01 14:16:00     24    False
2 2022-03-01 14:24:00     27    False
3 2022-03-01 14:32:00     30    False
4 2022-03-01 14:40:00     20    False
5 2022-03-01 14:48:00     26    False
6 2022-03-01 14:56:00     26    False
7 2022-03-01 15:04:00     26    False
8 2022-03-01 15:12:00     36    False
9 2022-03-01 15:20:00     31    False

<b>5. Top and Rising Queries</b>

In [6]:
# Top
related_queries = pytrends.related_queries()
top_queries = related_queries[keywords[0]]['top']
print("Top")
print(top_queries)

Top
                query  value
0          gaun merah    100
1       dj gaun merah     32
2  karaoke gaun merah     14
3     lagu gaun merah     10
4    gaun merah remix      7
5    gaun merah cover      6
6    sonia gaun merah      3

In [7]:
# Rising
print("")
print("Rising")
rising_queries = related_queries[keywords[0]]['rising']
print(rising_queries)

Rising
None

<b>6. Related topcis</b>

In [8]:
# Top
related_topics = pytrends.related_topics()
top_topics = related_topics[keywords[0]]['top']
print("Top")
print(top_topics[['value', 'topic_title', 'topic_type']])

Top
    value      topic_title              topic_type
0     100       Gaun Merah          Song by Tryana
1      65            Dress                 Garment
2      42    DJ Gaun Merah         Song by DJ Acan
3      34              Red                   Color
4       6     Jungle music           Musical genre
5       6   Dutch language         Spoken language
6       5       Vita Alvia          Musical artist
7       4        Gala Gala     Song by Rhoma Irama
8       3  Purnama Merindu  Song by Siti Nurhaliza
9       3           Tryana          Musical artist
10      3    Vanny Vabiola                  Singer

In [9]:
# Rising
print("")
print("Rising")
rising_topics = related_topics[keywords[0]]['rising']
print(rising_topics[['value', 'topic_title', 'topic_type']])

Rising
   value      topic_title              topic_type
0    200    Vanny Vabiola                  Singer
1    180  Purnama Merindu  Song by Siti Nurhaliza
2     90       Vita Alvia          Musical artist
3     70        Gala Gala     Song by Rhoma Irama
4     70           Tryana          Musical artist

<b>Interest by Region</b>

In [10]:
interest_by_region = pytrends.interest_by_region(resolution='COUNTRY', inc_low_vol=True, inc_geo_code=True)
interest_by_region.reset_index(inplace=True)
interest_by_region.rename(columns={'geoName':'wilayah', 'geoCode': 'kode', keywords[0]:'value'}, inplace=True)
interest_by_region[['wilayah', 'value']]

                              wilayah  value
0                                Aceh     45
1                                Bali     21
2             Bangka Belitung Islands     83
3                              Banten     11
4                            Bengkulu     30
5                        Central Java     42
6                  Central Kalimantan     16
7                    Central Sulawesi     28
8                           East Java     39
9                     East Kalimantan     29
10                 East Nusa Tenggara     31
11                          Gorontalo     19
12                              Jambi     27
13                            Lampung     46
14                             Maluku     29
15                   North Kalimantan      0
16                       North Maluku      0
17                     North Sulawesi     14
18                      North Sumatra     69
19                              Papua     16
20                               Riau    100
21                       Riau Islands     47
22                South East Sulawesi      0
23                   South Kalimantan     55
24                     South Sulawesi     38
25                      South Sumatra     35
26  Special Capital Region of Jakarta     27
27       Special Region of Yogyakarta     17
28                          West Java     30
29                    West Kalimantan     58
30                 West Nusa Tenggara     36
31                         West Papua      0
32                      West Sulawesi      0
33                       West Sumatra     68