<b>1. Import libraries</b>

In [1]:
from pytrends.request import TrendReq
import pandas as pd

<b>2. Initialize</b>

In [2]:
pytrends = TrendReq()

<b>3. General settings</b>

In [3]:
keywords = ['python']
cat = '0'
geo = 'ID'
gprop = 'youtube'

timeframes = [
    'today 5-y',
    'today 3-y',
    'today 12-m',
    'today 5-m',
    'today 3-m', 
    'today 1-m',
    'now 1-d',
    'now 7-d',
    'now 1-H',
    'now 4-H'
]

In [4]:
pytrends.build_payload(keywords, geo=geo, gprop=gprop, timeframe=timeframes[4])

<b>4. Timeseries trends data</b>

In [10]:
timeseries = pytrends.interest_over_time()
timeseries.reset_index(inplace=True)
timeseries.rename(columns={'date':'datetime', keywords[0]: 'value', 'isPartial':'partial'}, inplace=True)
timeseries.head(10)

    datetime  value  partial
0 2021-12-01     39    False
1 2021-12-02     76    False
2 2021-12-03     48    False
3 2021-12-04     32    False
4 2021-12-05     53    False
5 2021-12-06     69    False
6 2021-12-07     39    False
7 2021-12-08     19    False
8 2021-12-09     37    False
9 2021-12-10     57    False

<b>5. Top and Rising Queries</b>

In [6]:
# Top
related_queries = pytrends.related_queries()
top_queries = related_queries[keywords[0]]['top']
print("Top")
print(top_queries)

Top
                  query  value
0        belajar python    100
1           ball python     87
2  king cobra vs python     31

In [7]:
# Rising
print("")
print("Rising")
rising_queries = related_queries[keywords[0]]['rising']
print(rising_queries)

Rising
None

<b>6. Related topcis</b>

In [8]:
# Top
related_topics = pytrends.related_topics()
top_topics = related_topics[keywords[0]]['top']
print("Top")
print(top_topics[['value', 'topic_title', 'topic_type']])

Top
    value              topic_title            topic_type
0     100                   Python  Programming language
1      14                  Pythons                 Snake
2       9                 Tutorial                 Topic
3       8        Microsoft Windows      Operating system
4       7                 learning                 Topic
5       7                     Data                 Topic
6       6              Ball python              Reptiles
7       6                    Snake              Reptiles
8       5             Internet bot                 Topic
9       5             Installation     Computer programs
10      5       Visual Studio Code                 Topic
11      4                   OpenCV      Computer program
12      4                   Matrix           Mathematics
13      3       Software Developer            Occupation
14      3                   Python                  Film
15      3                    Cobra                 Snake
16      3               Windows 10      Operating system
17      3                  Machine                 Topic
18      3                  Project                 Topic
19      3                   Course             Education
20      3                    Image                 Topic
21      3  Artificial intelligence        Field of study
22      3                 Learning                 Topic
23      3         Machine learning        Field of study
24      3                   Hacker                 Topic

In [9]:
# Rising
print("")
print("Rising")
rising_topics = related_topics[keywords[0]]['rising']
print(rising_topics[['value', 'topic_title', 'topic_type']])

Rising
     value              topic_title          topic_type
0   135050               Automation               Topic
1     1150                   Matrix         Mathematics
2      400       Software Developer          Occupation
3      300         Machine learning      Field of study
4      250                   OpenCV    Computer program
5      250                 Database   File format genre
6      250                     Code               Topic
7      200                  Machine               Topic
8      200                   Course           Education
9      170  Artificial intelligence      Field of study
10     130                   GitHub  Software developer
11      60                 Learning               Topic
12      50             Internet bot               Topic

<b>Interest by Region</b>

In [19]:
interest_by_region = pytrends.interest_by_region(resolution='COUNTRY', inc_low_vol=True, inc_geo_code=True)
interest_by_region.reset_index(inplace=True)
interest_by_region.rename(columns={'geoName':'wilayah', 'geoCode': 'kode', keywords[0]:'value'}, inplace=True)
interest_by_region[['wilayah', 'value']]

                              wilayah  value
0                                Aceh     30
1                                Bali     29
2             Bangka Belitung Islands     51
3                              Banten     41
4                            Bengkulu     50
5                        Central Java     23
6                  Central Kalimantan     14
7                    Central Sulawesi      0
8                           East Java     23
9                     East Kalimantan     29
10                 East Nusa Tenggara     11
11                          Gorontalo     32
12                              Jambi     10
13                            Lampung     26
14                             Maluku      0
15                   North Kalimantan      0
16                       North Maluku      0
17                     North Sulawesi      0
18                      North Sumatra     32
19                              Papua     18
20                               Riau     21
21                       Riau Islands     38
22                South East Sulawesi    100
23                   South Kalimantan     37
24                     South Sulawesi     20
25                      South Sumatra     16
26  Special Capital Region of Jakarta     43
27       Special Region of Yogyakarta     48
28                          West Java     35
29                    West Kalimantan     18
30                 West Nusa Tenggara     34
31                         West Papua      0
32                      West Sulawesi      0
33                       West Sumatra     25